@import "tailwindcss";

@theme {
  --color-hyamber: #ffb300;
  --color-hyamber-light: #ffca28;
  --color-hyamber-dark: #f57c00;

  --color-hyzinc-900: #18181b;
  --color-hyzinc-800: #27272a;
  --color-hyzinc-700: #3f3f46;

  --font-sans: 'Nunito Sans', 'Inter', system-ui, -apple-system, sans-serif;
}